.category-count {
	text-align:center;
	line-height:3;
	font-size:18px;
	font-weight:bold;
}
.category-list {
	text-align:center;
	padding:20px
}
.category-list li.category-list-item {
	display:inline-block;
	margin:0 1em .5em 0;
	padding:4px;
	border:1px solid #aaaaaa;
	font-size:1.2rem
}
.category-list li.category-list-item:hover {
	background:rgba(204,204,204,0.3)
}
.tag-cloud {
	text-align:center;
	padding:20px
}
.tag-cloud a {
	margin:0 20px;
	word-break:keep-all;
	position:relative
}
.tag-cloud a:hover::before {
	width:100%;
	left:0;
	right:auto
}
.tag-cloud a::before {
	content:"";
	position:absolute;
	width:0;
	right:0;
	bottom:0;
	height:2px;
	background:#08c;
	-webkit-transition:width .3s ease;
	transition:width .3s ease
}
